<h1 class="text-center">Customers segments pivot table</h1>
<div class="center-block table-responsive">	
	<table class="pivot-table" #pivottable>			
	</table>

	<h2 class="text-center">How it should be, but my method not provides it</h2>	
	<table class="pivot-table">
		<tr>
			<th></th>
			<th>366+</th>
			<th>181-365</th>
			<th>91-180</th>
		</tr>
		<tr>
			<td>4-5</td>
			<td class="red-alert"></td>
			<td class="red-alert"></td>
			<td class="at-risk"></td>			
		</tr>
		<tr>
			<td>6-9</td>
			<td class="red-alert"></td>
			<td class="red-alert"></td>
			<td class="at-risk"></td>			
		</tr>
		<tr>
			<td>10+</td>
			<td class="red-alert"></td>
			<td class="red-alert"></td>
			<td class="at-risk"></td>			
		</tr>
		<tr>
			<td>12</td>
			<td class="red-alert"></td>
			<td></td>
			<td class="at-risk"></td>			
		</tr>
	</table>
</div>